# Created by .ignore support plugin (hsz.mobi)

/node_modules
frontend/node_modules
backend/node_modules
bundle.js
npm-debug.log
.DS_Store

# IntelliJ
*.iml
frontend/.idea
frontend/.babelrc
frontend/ICENSE.MD
index.html
frontend/package-lock.json
